
  main{
      position: relative;
      padding: 30px 5%;
  }

  .landing{
      width: 100%;
      display: flex;
      /* height: 60vh; */
      padding-top: 10vh;
      
  }
  .landing .form{
      width: 50%;
      /* padding: 50px 80px 0 80px; */
      height: 100%;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:0 2%;
}
textarea{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
}
section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#inp{
    width: 45%;
}
button{
    background-color: #1874d2;
    color: white;
    margin-bottom: 10px;
}
  .landing .about{
      width: 50%; 
      height: 45%;
      color: rgb(72, 72, 72);
      justify-content: space-between;
  }

  .landing .about p:nth-child(1){
      font-size: 25px;
      font-weight: 600;
      padding-bottom: 20px;
  }
  .landing .about p:nth-child(2){
      width: 90%;
      font-size: 18px;
      line-height: 30px;
      font-weight: 200;
  }
  .landing .about .contactinfo{
      padding: 20px 0;
  }
  .landing .about .contactinfo span{
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  .landing .about .contactinfo span i{
      font-size: 18px;
      font-weight: 500;
      word-break: keep-all;
  }
  .landing .about .contactinfo span p{
      font-size: 18px;
      color: rgb(56, 139, 216);
      padding: 0 0 0 19px;cursor: pointer;
      width: unset;
  }
  .address{
      /* margin-top:10px; */
  }
  .address span{
      display: flex;
      align-items: flex-end;
      padding: 15px 0 5px 0;
  }
  .address span i{
      font-size: 30px;
      /* width: 40px; */
  }
  .address span p{
      font-size: 20px;
      font-weight: 600;
  }
  .address p{
      color: rgb(82, 82, 82);
  }
  .branches{
    display: flex;
    flex-wrap: wrap ;
  }
  .branches p{
    background-color: #1874d2;
    color: white;
    margin: 5px;
    padding: 3px 5px;
    border-radius: 5px;
  }
  .branches p:nth-child(even){
    background-color: blueviolet;
  }
  .delhi{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .1;
    z-index: -1;
    left: 0;
  }

  @media (max-width: 960px){
      .landing{
          flex-direction: column;
          height:auto;
          justify-content: space-between;
      }
      .landing .about{
          width: 100%;
          height:auto;
      }
      .landing .about p:nth-child(2){
          width: 100%;
      }
      .landing .about .contactinfo{
          padding: 10px 0;
      }
      .landing .about .contactinfo span{
          display: flex;flex-direction: column;align-items: center;
          
      }
      .landing .about .contactinfo span span{
        margin: 20px 0;
      }
      .landing .about .contactinfo span p{
          padding: 0;width: fit-content;
      }
      .landing .form{
          width: 100%;
          /* height: 60%; */
      }
      .landing .form form span{
          justify-content: center;
          flex-wrap: wrap;
      }
      form input:nth-child(5){
          margin-top: 20px;
      }
  }