
<main>
    <div class="landing">
        <div class="about">
            <p class="heading">Request a callback</p>
            <p>I hope you have explored BookMyShiksha & we hope, we have intrigued you towards chosing a career in IT field, So what are you waiting for hurry!! and fill the contact form so we can provide you with regular updates.</p>
            <div class="contactinfo">
                <span>
                    <i class="fas fa-envelope"> Our Email:</i>
                    <p>info@bookmyshiksha.com</p>
                </span>
                <span>
                    <i class="fas fa-phone-volume"> Admission Enquiry</i>
                    <p>+91-8077672234</p>
                </span>
            </div>
        </div>
        <div class="form">
            <form action="">
                <span>
                    <span>
                        <label for="">Name:</label><input type="text"  placeholder="Enter Your Name" >
                    </span>
                    <span>
                        <label for="">Email:</label><input type="text" placeholder="Enter Your Email" >
                    </span>
                </span>
                <span>
                    <span>
                        <label for="">Mobile Number</label>
                        <input type="text" placeholder="Enter Your Mobile Number" >
                    </span>
                    <span>
                        <label for="">Inquiry Type</label>
                        <select name="type">
                            <option value="">--Select--</option>
                            <option value="">Courses Demo</option>
                            <option value="">Courses Training</option>
                            <option value="">Course Certification</option>
                            <option value="">Internship</option>
                            <option value="">Internship Certification</option>
                            <option value="">Jobs</option>
                        </select>
                    </span>
                </span>
                <label for="">Your Message</label>
                <input type="text" placeholder="Enter Your Message" >
                
                <input type="submit">
            </form>
        </div>
    </div>
    <div class="address">
        <span>
            <i class="fas fa-map-marker-alt"></i>
            <p>Our office located at:</p>
        </span>
        <p>2nd Floor, Orchid Centre, Sector 53, <br> Golf Course Road, Gurgaon <br>
            Haryana - 122002</p>


    </div>
</main>
