<footer>
    <div class="upper section">
        <div class="subscribe a">
            <p>Subscribe to our Newsletter </p>
            <span>
                <input type="text" placeholder="Enter e-mail id">
                <i class="fab fa-telegram-plane"></i>
            </span>
        </div>
        <div class="socialMedia a">
            <p>Follow us</p>
            <div class="icon">
            <a target="/" href="https://twitter.com/bookmyshiksha"><i class="fab fa-twitter"></i></a>
            <a target="/" href="https://www.linkedin.com/in/bookmy-shiksha-988610229/"><i class="fab fa-linkedin-in"></i></a>
            <a target="/" href=""><i class="fab fa-facebook-f"></i></a>
            <a target="/" href="https://www.instagram.com/bookmyshiksha/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="payment a">
            <p>We accept online payments</p>
            <img src="assets/images/payments.png" alt="">
        </div>
    </div>
    <div class="courses  section">
        <div class="python category">
            <p class="heading" >Popular Courses</p>
            <div class="sub">
                <p  [routerLink]="['courses/python-training-course']" >Python training</p>
                <p  [routerLink]="['courses/data-science-training-course-in-delhincr']" >Data Science training</p>
                <p [routerLink]="['courses/machine-learning-training-course-in-delhincr']" >Machine Learning training</p>
                <p [routerLink]="['courses/deep-learning-training-course-in-delhincr']" >Deep Learning training</p>
                <p [routerLink]="['courses/artificial-inteligence-training-course-in-delhincr']" >Artificial Inteligence training</p>
                <p [routerLink]="['courses/rpa-course-in-delhincr']" >RPA training</p>
                <p [routerLink]="['courses/java-course-in-delhincr']" >Java training</p>
                <p [routerLink]="['courses/.net-course-in-delhincr']">.Net training</p>
                <p [routerLink]="['courses/vba-course-in-delhincr']" >VBA training</p>
            </div>
        </div>
        <div class="webDev category">
            <p class="heading" >Web Development</p>
            <div class="sub">
                <p [routerLink]="['courses/php-course-in-delhincr']" >PHP</p>
                <p [routerLink]="['courses/html5-css3-js-course-in-delhincr']" >HTML5/CSS3/JS</p>
                <p [routerLink]="['courses/angular-course-in-delhincr']" >Angular</p>
                <p [routerLink]="['courses/nodejs-course-in-delhincr']" >Node</p>
                <p [routerLink]="['courses/react-course-in-delhincr']" >React</p>
                <p [routerLink]="['courses/pyhton-django-course-in-delhincr']" >Python Django/Flask</p>
            </div>
        </div>
        <div class="database category">
            <p class="heading" >Database & Analytics Tools</p>
            <div class="sub">
                <p [routerLink]="['courses/mongodb-course-in-delhincr']" >MongoDB</p>
                <p [routerLink]="['courses/sql-course-in-delhincr']" >SQL</p>
                <p [routerLink]="['courses/oracle-course-in-delhincr']" >Oracle</p>
                <p [routerLink]="['courses/powerBi-course-in-delhincr']" >Power Bi</p>
                <p [routerLink]="['courses/tableau-course-in-delhincr']" >Tableau</p>
            </div>
        </div>
        <div class="digitelMarketing category">
            <p class="heading" >Digital Marketing</p>
            <div class="sub">
                <p [routerLink]="['courses/social-media-optimization-course-in-delhincr']" >SMO(Social media optimization)</p>
                <p [routerLink]="['courses/pay-per-click-course-in-delhincr']" >PPC(Pay-per-click)</p>
                <p [routerLink]="['courses/google-ads-certification-course-in-delhincr']" >Google Ads</p>
                <p [routerLink]="['courses/seo-course-in-delhincr']" >SEO(Search engine optimization)</p>
                <p [routerLink]="['courses/facebook_ads_certification-course-in-delhincr']" >Facebook Ads</p>
                <p [routerLink]="['courses/social-media-promotion-course-in-delhincr']" >Social Media Promotion</p>
                <p [routerLink]="['courses/email-marketing-course-in-delhincr']" >E-mail Marketing</p>
            </div>
        </div>
        <div class="special category">
            <p class="heading" >Specialization Courses</p>
            <div class="sub">
                <p [routerLink]="['courses/diploma-in-data-science-course-in-delhincr']" >Diploma in Data Science</p>
                <p [routerLink]="['courses/diploma-in-machine-learning-course-in-delhincr']" >Diploma in Machine Learning</p>
                <p [routerLink]="['courses/masters-in-data-science-course-in-delhincr']" >Masters in Data Science</p>
                <p [routerLink]="['courses/masters-in-machine-learning-course-in-delhincr']" >Masters in Machine Learning</p>
            </div>
        </div>
    </div>
    <div class="middle section">
        <div class="about">
            <img id="logo" src="/assets/images/logo.png" alt="">
            <div><i class="fas fa-map-marker-alt"> </i><p>A-318, New Ashok Nagar, Delhi</p></div>
            <div><i class="fas fa-phone-alt"> </i><p>+91-8077672234</p></div>
            <div><i class="fas fa-envelope"> </i><p>info@bookmyshiksha.com</p></div>
        </div>
        <div class="links">
            <h4>Usefull links</h4>
            <p [routerLink]="['certification']" >Certification</p>
            <p [routerLink]="['placement']" >Placements</p>
            <p [routerLink]="['contact']" >Contact Us</p>
            <p [routerLink]="['aboutUs']" >About Us</p>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224345.83923575285!2d77.06889914081907!3d28.527582004379333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1634888494160!5m2!1sen!2sin" width="600" height="250" style="border:80;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class="lower">
        <div>
            <p>©Copyright © 2020, All Rights Reserved. BookMyShiksha | Developed by <a href="https://almondzit.netlify.app/">AlmondzIT</a> </p>
        </div>
        <div class="policy">
        <p [routerLink]="['company/privacy_policy']" >Privacy policy</p>
        <p [routerLink]="['company/disclaimer']" >Disclaimer</p>
        <p [routerLink]="['company/cookie_policy']" >Cookie Policy</p>
        </div>
    </div>
</footer>