<main>
    <p class="heading">Our Blogs:</p>
    <div class="blogs">
        <p class="subHeading">Informative blogs:</p>
        <div class="cards">
            <div  class="card" *ngFor= "let item of blogs[0]; let i as index " >
                <img [src] = item.img alt="">
                <span>
                    <p>{{item.heading}}</p>
                    <p [routerLink]="['/openBlogs']" (click)= "openBlog(0,i)" >Learn More ></p>
                </span>
            </div>
        </div>
    </div>
    <div class="blogs">
        <p class="subHeading">Social Media Awareness:</p>
        <div class="cards">
            <div class="card" *ngFor= "let item of blogs[1]; let i as index " >
                <img [src] = item.img alt="">
                <span>
                    <p>{{item.heading}}</p>
                    <p [routerLink]="['/openBlogs']"  (click)= "openBlog(1,i)" >Learn More ></p>
                </span>
            </div>
        </div>
    </div>
    <div class="blogs">
        <p class="subHeading">Latest Update IT Services:</p>
        <div class="cards">
            <div class="card" *ngFor= "let item of blogs[2]; let i as index" >
                <img [src] = item.img alt="">
                <span>
                    <p>{{item.heading}}</p>
                    <p [routerLink]="['/openBlogs']" (click)= "openBlog(2,i)" >Learn More ></p>
                </span>
            </div>
        </div>
    </div>
</main>

