main{
    padding: 10vh 5%;
}
.landing p:nth-child(1){
    font-size: 30px;
    padding:0 0 20px 0;
}
.landing p{
    padding: 0 0 10px 0;
    width: 100%;
    font-size: 18px;
}
.sections .section{
    margin: 40px 0;
}
.sections .section p:nth-child(1){
    font-size: 25px;
    padding: 0 0 10px 0;
}
.sections .section p{
    margin: 5px 0;
    width: 100%;
    font-size: 17px;
}