<main>
    <p class="heading" >Certification Program</p>
    <p class="about" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, accusamus suscipit error facilis itaque tenetur assumenda obcaecati reprehenderit quidem magni praesentium ut. Doloribus rerum nemo eum nostrum, corporis dolore accusamus.</p>
    <p class="heading">Training certificate</p>
    <p class="about" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur minima distinctio iusto repudiandae, illo omnis at voluptas soluta velit dolore dignissimos incidunt praesentium? Adipisci corrupti velit cum modi accusantium.</p>

    <div class="certificate">
        <p class="heading">Certification provided by Us</p>
        <i *ngIf="openedCertificate!=0" (click)="showCertificate(0)" class="far fa-times-circle"></i>
        <div class="holder">
            <div  class="card">
                <div [ngClass]="this.openedCertificate==1? 'opned': '' " class="img">
                    <img src="assets/images/certificate.png" alt="">
                </div>
                <p>Internship certificate</p>
                <p>Learners will receive a certificate from Book My Shiksha and our placement partners upon completion of the internship with them during the course. Learners are expected to meet the criteria to obtain the internship completion certificate.</p>
                <p (click)="showCertificate(1)"  >view sample certificate</p>
            </div>
            <div class="card">
                <div [ngClass]="this.openedCertificate==2? 'opned': '' "  class="img">
                    <img src="assets/images/certificate1.png" alt="">
                </div>
                <p>Course complition certificate</p>
                <p>Learners who have successfully completed the course by finishing the project and meeting all the criteria will receive a certificate to denote their participation and completion of the course. This certificate is recognised by our placement partners.</p>
                <p (click)="showCertificate(2)" >view sample certificate</p>
            </div>
            <div class="card">
                <div [ngClass]="this.openedCertificate==3? 'opned': '' " class="img">
                    <img src="assets/images/certificate2.png" alt="">
                </div>
                <p>Course Certification</p>
                <p>Learners will receive a certificate from Book My Shiksha to showcase their newly acquired skill set that denotes their involvement in the perusal of this course. This certificate is recognised by our placement partners.</p>
                <p (click)="showCertificate(3)" >view sample certificate</p>
            </div>
        </div>
        <div class="download">
            <p [routerLink]="['/contact']" >Request For Certificate <i class="fas fa-file-certificate"></i> </p>
        </div>
    </div>
    <div class="names">
        <p class="heading" >Additional Certification provided by us</p>
        <div class="nameHolder">
            <p [routerLink]="['/contact']" *ngFor="let item of names" >{{item}}</p>
        </div>
    </div>
   
</main>
