<div class="holder">
    <app-contact></app-contact>
<app-links></app-links>
<app-social></app-social>
<div [ngClass]="openedCard!=0? 'blurBack': '' " (click)="openCard(0)" ></div>
<div class="landing">
    <img class="backGround" src="assets/images/SL-051919-20420-21.jpg" alt="">
    <div class="about">
        <p class="courseName" >Basics of Python with Data Structures and Algorithms</p>
        <p class="aboutCourse" >Lorem ipsum dolor sit amet consectetur, adipisicia vel libero quod sequi, ea ipsam? Hic, architecto dolores quo et vitae optio sit sint.</p>
        <p class="enrolNow" >Enrol Now</p>
        <div class="report">
            <div>
                <b>10K+</b>
                <p>stundents enrolled</p>
            </div>
            <div>
                <b>350+</b>
                <p>problems</p>
            </div>
            <div>
                <b>4</b>
                <p>months</p>
            </div>
            <div>
                <b>50+</b>
                <p>hours of video lectures</p>
            </div>
        </div>
    </div>
    <div class="courseImg">
        <img  src="/assets/images/student.png" alt="">
    </div>
</div>
<main>
    <div id="query" class="query">
        <h2>Drop a Query</h2>
        <form action="">
            <div>
                <label for=""><i class="fas fa-user"></i></label>
                <input type="text" placeholder="Enter your name">
            </div>
            <div>
                <label for=""><i class="fas fa-envelope"></i></label>
                <input type="text" placeholder="Enter email">
            </div>
            <div>
                <label for=""><i class="fas fa-phone"></i></label>
                <input type="text" placeholder="Enter mobile no.">
            </div>
            <div>
                <label for=""><i class="fas fa-book"></i></label>
                <input type="text" placeholder="Enter course">
            </div>
            <div>
                <label for=""><i class="fas fa-hand-point-up"></i></label>
                <select name="Select training mode" id="">
                    <option value="">Select training mode</option>
                    <option value="">Classroom training</option>
                    <option value="">Online training</option>
                </select>
            </div>
            <input type="text" id="msg" placeholder="Enter your message">
            <button>Submit</button>
        </form>


    </div>
    <div class="courseFeatures">
        <h2>Course Features</h2>
        <div class="feature" *ngFor="let item of courseFeatures">
            <i [class]= item.img ></i>
            <p>{{item.name}}</p>
        </div>
    </div>
    <div class="aboutCourse">
        <p class="heading">Python</p>
        <p class="about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi amet non asperiores aspernatur ab cumque dolores reprehenderit adipisci error porro magni praesentium a quas excepturi enim veritatis impedit rerum vitae, similique ratione possimus numquam, deleniti voluptatibus! Nulla cumque omnis eum odio commodi doloribus facilis, rem nobis aperiam quidem consequatur architecto doloremque. Magnam mollitia voluptatibus excepturi incidunt autem ut accusamus aliquid quod qui omnis aperiam perspiciatis provident, quam sit, culpa dignissimos unde, accusantium deserunt quos nam pariatur? Earum asperiores doloremque et debitis magni itaque sint quidem dolore? Atque aliquam neque tempore recusandae sunt voluptatum in, maiores dolore incidunt dolorem? Tenetur, praesentium?
        </p>
        <p class="about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi amet non asperiores aspernatur ab cumque dolores reprehenderit adipisci error porro magni praesentium a quas excepturi enim veritatis impedit rerum vitae, similique ratione possimus numquam, deleniti voluptatibus! Nulla cumque omnis eum odio commodi doloribus facilis, rem nobis aperiam quidem consequatur architecto doloremque. Magnam mollitia voluptatibus excepturi incidunt autem ut accusamus aliquid quod qui omnis aperiam perspiciatis provident, quam sit, culpa dignissimos unde, accusantium deserunt quos nam pariatur? Earum asperiores doloremque et debitis magni itaque sint quidem dolore? Atque aliquam neque tempore recusandae sunt voluptatum in, maiores dolore incidunt dolorem? Tenetur, praesentium?
        </p>
        <p class="about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi amet non asperiores aspernatur ab cumque dolores reprehenderit adipisci error porro magni praesentium a quas excepturi enim veritatis impedit rerum vitae, similique ratione possimus numquam, deleniti voluptatibus! Nulla cumque omnis eum odio commodi doloribus facilis, rem nobis aperiam quidem consequatur architecto doloremque. Magnam mollitia voluptatibus excepturi incidunt autem ut accusamus aliquid quod qui omnis aperiam perspiciatis provident, quam sit, culpa dignissimos unde, accusantium deserunt quos nam pariatur? Earum asperiores doloremque et debitis magni itaque sint quidem dolore? Atque aliquam neque tempore recusandae sunt voluptatum in, maiores dolore incidunt dolorem? Tenetur, praesentium?
        </p>
        
    </div>   
    <div class="table">
        <p class="heading">Upcoming Batches</p>
        <table>
            <tr>
                <th>Days</th>
                <th>Start on</th>
                <th>Timing </th>
                <th>Enroll Now</th>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>15<sup>th</sup> jan. 2022</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>20<sup>th</sup> jan. 2022</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>15<sup>th</sup> jan. 2022</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>20<sup>th</sup> jan. 2022</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>28<sup>th</sup> Nov. 2021</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
        </table>
    </div>
    <div class="curriculum">
        <p class="heading" >Course Curriculum</p>
        <div class="sectionHolder">
            <div class="section" *ngFor ='let item of sections' [ngClass]="activeSection==item.id? 'active': '' " (click)=active(item.id) >
                <!-- <i class={{item.img}}></i> -->
                <p>{{item.sectionName}}</p>
            </div>
        </div>
        <div  class="aboutSection" *ngFor ='let item of sections' >
          <span *ngIf="item.id==activeSection" >
            <details  *ngFor="let about of item.about">
                <summary>{{about.name}}</summary>
                <p>{{about.summary}}</p>
            </details>
          </span>
            
        </div>
    </div>
    <div class="projects">
        <p class="heading">Hands-on Projects</p>
        <div class="cards">
            <div [ngClass]="openedCard==item.id? 'learnMore': '' " class="card" *ngFor="let item of projectsCard" >
                <i (click)="openCard(0)" class="far fa-times-circle"></i>
                <div class="img">
                    <i  [class]="item.img"></i>
                </div>
                <div class="about">
                    <p>{{item.domainName}}</p>
                    <p>{{item.name}}</p>
                    <p>{{item.about}}</p>
                    <p (click)="openCard(item.id)" >Learn More</p>
                </div>
            </div>
        </div>
    </div>
    <div class="process">
        <p class="heading">Application Process</p>
        <div class="cards">
            <div class="card" *ngFor="let item of processCard">
                <p class="id" >{{item.id}}</p>
                <span>
                    <p>{{item.name}}</p>
                <p>{{item.about}}</p>
                </span>
            </div>
        </div>
    </div>
    <div class="sections">
        <p class="heading" >Why You Should Join Book My Shiksha for Python training</p>
        <p class="subHeading">Reasons why we stand out:</p>
        <div *ngFor="let item of whyUsCards" class="points">
            <b>></b>
            <p class="point"> {{item.point}}</p>
        </div>
    </div>
    <div class="sections">
        <p class="heading">Book My Shiksha Corporate Trainers Profile for Python Training</p>
        <p class="subHeading">Book My Shiksha trainers are:</p>
        <div *ngFor="let item of trainesrsCards" class="points">
            <b>></b>
            <p class="point"> {{item.point}}</p>
        </div>
        
    </div>
    <div class="sections">
        <p class="heading">Placement Facility During Python Training</p>
        <p class="subHeading">Book My Shiksha Placement Process:</p>
        <div *ngFor="let item of placementCards" class="points">
            <b>></b>
            <p class="point"> {{item.point}}</p>
        </div>
        
    </div>
    <div class="blogs">
        <p class="heading">Browse Related Blogs</p>
        <div class="cards">
            <div class="card" *ngFor="let item of blogCards" >
                <img [src] = item.img alt="">
                <span>
                    <p>{{item.name}}</p>
                    <p>Learn More ></p>
                </span>
            </div>
        </div>
    </div>
</main>

</div>