
.holder{
  position: relative;
}
.landing {
  /* height:70vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10vh 5% 5vh 5%;
}
.backGround {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  filter: brightness(0.5);
  top: 0;
  display: none;
}
.landing .about {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.landing .about .courseName {
  font-size: 27px;
  color:#262534;
  width: 70%;
}
.landing .about .aboutCourse {
  font-size: 18px;
  color: #2F2E41;
  width: 100%;
  margin: 20px 0 50px 0;
  line-height: 35px;
}
.landing .about .enrolNow {
  padding: 10px 30px;
  background-image: linear-gradient(rgb(37, 175, 255),rgb(252, 252, 252));
  width: fit-content;
  font-size: 20px;
  color: rgb(51, 51, 51);
  border: none;
  border-radius: 5px;
  transition: 0.4s;
}
.landing .about .enrolNow:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(37,175, 255));
}
.landing .report {
  display: flex;
  /* width: 80%; */
  justify-content: space-between;
  margin: 40px 0 0 0;
  position: relative;
  padding: 20px 0 0 0;
}
.landing .report::after {
  content: "";
  position: absolute;
  background-color: rgb(119, 107, 86);
  height: 1px;
  width: 100%;
  top: 0;
}
.report div {
  color: #34364b;
  margin: 0 10px;
}
.report div:hover{
  color: #4692E2;
}
.report div b {
  font-size: 20px;
}

.courseImg {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  position: relative;
}
.courseImg img {
  width: 90%;
}

.heading {
  font-size: 25px;
  margin: 20px 0;
  position: relative;
  width: fit-content;
  padding:5px 0;
}
.heading::after {
  content: "";
  background-color: #4692E2;
  height: 1px;
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
}

main {
  /* margin-top: 10vh; */
  position: relative;
  padding:0 5%;
  overflow: hidden;
}

.process{
  padding :0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process .cards{
  display: flex;
  width:100%;
  flex-wrap: wrap;
  justify-content:center;
}
.process .cards .card{
  display:flex;
  width: 350px;
  margin:25px;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 5px 60px rgba(88, 88, 88, 0.164);
}

.process .cards .card .id{
  background-color: rgb(39, 65, 0);
  padding: 10px 15px;
  border-radius: 100px;
  color: aliceblue;
  height: fit-content;
}
.process .cards .card span{
  padding:0 0 0 10px;
}
.process .cards .card span p:nth-child(1){
  font-size: 20px;
  padding: 0 0 10px 0;
}

.process .cards .card span p:nth-child(2){
  font-size: 14px;
  color: rgb(82, 82, 82);
}







main .aboutCourse {
  /* padding:5%; */
  display: flex;
  width:100%;
  justify-content: space-between;
}
main .aboutCourse .left{
  width: 60%;
}
main .aboutCourse .right{
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 7% 0 0 0;
}
main .aboutCourse .about {
  padding: 10px 0;
  width: 100%;
  text-align: justify;
  line-height: 30px;
}

.aboutSection p{
  color: rgb(73, 73, 73);
  line-height: 27px;
  width: 100%;
}
.aboutSection p:nth-child(1){
  font-size: 20px;
  color: rgb(32, 32, 32);
  padding: 5px 0;
}

.query {
  box-shadow: 0 15px 30px rgba(134, 134, 134, 0.16);
  border-radius: 20px;
  background-color: rgba(236, 236, 236, 0.315);
  width:90%;
  display:flex  ;
  flex-direction: column;
  align-items: center;
  height: 500px;
  border-radius: 5px;
  padding: 10px 0 5px 0;
  /* position: absolute; */
  right: 70px;
  top: 40vh;
  transition: .4s;
}

.query h2 {
  font-size: 25px;
  color: rgb(139, 139, 139);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 70%;
}

form div {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content:center;
}
form i {
  font-size: 20px;
  color: #4692E2;
  margin-right: 20px;
}
form div input,
select {
  border: none;
  width: 190px;
  height: 30px;
  border-bottom: 1px solid #4692E2;
}
form div input,
select:focus {
  outline: none;
}
#msg {
  border: none;
  height: 50px;
  border-bottom: solid 1px #4692E2;
  border-radius: 0;
  width: 100%;
}
#msg:focus {
  outline: none;
}
form button {
  border: none;
  border-radius: 5px;
  padding: 6px;
  width: 90px;
  background-color: #4692E2;
  color: white;
}





.curriculum {
  /* padding: 5vh 0; */
  /* min-height: 70vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(125, 191, 253, 0.212); */
}
.curriculum .note{
  padding: 0 0 10PX 0;
  font-size: 13px;
}
.curriculum .note span{
  color: red;
  
}
.curriculum .sectionHolder {
  display: flex;
  /* justify-content: center; */
  width: 100%;
}

.curriculum .sectionHolder .section {
  background-color: rgba(125, 191, 253, 0.212);
  padding: 15px 20px  ;
  margin: 1px;
  border-radius: 10px;
  /* border: 5px solid #ffb606; */
  transition: 0.4s;
  cursor: pointer;
  width: 20%;
  display: flex;
  align-items: center;
}
.curriculum .sectionHolder .section p{
  font-size: 20px;
  
}
.curriculum .sectionHolder .active {
  background-color: #4692E2;
  color: white;
  /* border: 5px solid rgb(138, 237, 255); */
}



.curriculum .aboutSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.curriculum .aboutSection span p{
  width: 70%;
  font-size: 15px;
  color: rgb(77, 77, 77);
}
.curriculum .downloadCurriculum{
  padding: 40px 0;
}
.curriculum .downloadCurriculum p{
  background-color: #FF6B1B;
  color: white;
  border-radius: 5px;
  padding: 15px 10px;
  transition: .4S;
}
.curriculum .downloadCurriculum p i{
  font-size: 20px;
}
.curriculum .downloadCurriculum p:hover{
  box-shadow: 3px 3px 6px rgba(128, 128, 128, 0.597), -3px -3px 6px rgba(255, 175, 113, 0.597);
  cursor: pointer;
}


.table {
  display: flex;
  justify-content: space-between;
  
}
table {
  width: 65%;
  height: 50vh;
  margin: 30px 0;
  border: 1px solid #4692E2;
  border-collapse: collapse;
}
table th {
  background-color: #4692E2;
  color: #ffffff;
  font-weight: 500;
}
table td {
  text-align: center;
  border: 1px solid #4692E2;
}
table button {
  border: none;
  background-color: rgb(50, 99, 1);
  border-radius: 3px;
  padding: 2px 4px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.courseFeatures{
  box-shadow: 0 15px 30px rgba(134, 134, 134, 0.16);
  border-radius: 20px;
  background-color: rgba(235, 235, 235, 0.678);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 500px; */
  border-radius: 5px;
  padding: 10px 15px;
  right: 70px;
  top: 130vh;
  transition: .4s;
}
.courseFeatures h2{
  font-size: 25px;
  color: rgb(139,139,139);
}
.courseFeatures .feature{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 2px solid gray;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
}
.courseFeatures .feature i{
  color: #4692E2;
  padding: 5px 15px;
}






.projects .cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content:center;

  position: relative;
}
.projects .cards .card{
  width:500px;
  margin: 10px;
  padding: 20px;
  display: flex;
  border: 1px solid rgba(170, 170, 170, 0.281);
  border-radius: 10px;
  /* transition: .4s; */
}
.projects .cards .card:hover{
  box-shadow:  4px 6px 16px rgba(128, 128, 128, 0.555);
}
.projects .cards .card .fa-times-circle{
  display: none;
}


.projects .cards .card .img{
  background-color: rgba(214, 214, 214, 0.226);
  padding:7% 10%;
}
.projects .img i{
  color: #4692E2;
  font-size: 60px;
  text-shadow: 9px 29px 23px rgba(128, 128, 128, 0.795);
}

.projects .cards .card .about{
  padding:3%;
  display: flex;
  flex-direction: column;
}

.projects .cards .card .about p:nth-child(1) {
  color: rgb(51, 51, 51);
  font-size: 18px;
  
}

.projects .cards .card .about p:nth-child(2){
  font-size: 20px;
  min-height: 10vw;
  width:100%;
  padding: 30px 0 0 0 ;
}
.projects .cards .card .about p:nth-child(3){
  display: none;
}
.projects .cards .card .about p:nth-child(4){
  color: rgb(110, 197, 255);
  transition: .4s;
}
.projects .cards .card .about p:nth-child(4):hover{
  color: rgb(41, 132, 194);
  cursor: pointer;
}

.projects .cards .learnMore{
  position:fixed;
  width:80%;
  top: 20vh;
  /* transition: .4s; */
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.589);
  z-index: 2;
  /* position: relative; */
}
.projects .cards .learnMore::after{
  position: fixed;
  content: '';
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.562);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  z-index: -2;
}
.projects .cards .learnMore .fa-times-circle{
  display: block;
  position: absolute;
 right: 20px;
 top: 20px; 
 cursor: pointer;
}

.projects .cards .learnMore .about p:nth-child(2){
  min-height:fit-content;
  padding: 30px 0;
}
.projects .cards .learnMore .about p:nth-child(3){
  display: block;
  width: 100%;
}
.projects .cards .learnMore .about p:nth-child(4){
  display: none;
}



.subHeading{
  font-size: 20px;
  color: rgb(31, 31, 31);
}

.sections
 .point{
 padding: 0 0 0 5px;
 /* line-height: 30px; */
 display: flex;
 text-align: start;
 font-weight: 100;
 color: rgb(112, 112, 112);
}
.sections .point::before{
  content: '';
  background-color: rgba(107, 107, 107, 0.219);
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.sections .points{
  display: flex;
  /* align-items: center; */
  margin:10px 0;
  position: relative;
  padding: 5px 0;
}
.sections .points b{
  color: aliceblue;
  background-color: rgb(66, 66, 66);
  padding:0 5px;
  font-weight: 100;
  border-radius: 10px;
  height: fit-content;
}
.enrollNow{
  top: 0 ;
  z-index: 21;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(182, 182, 182, 0.466);
  display: flex;  
  align-items: center;
  justify-content: center;
  transform: translateY(-200vh);
  backdrop-filter: blur(1px);
}
.enrollNow .form{
  width: 45%;
  height: 55%;
  display: flex;
  background-color: white;
  padding:1%;
  border: 10px solid #4692E2;
  border-radius: 5px;
  position: relative;
  transform: translateY(-200vh);
  transition: .4s;
}
.showForm{
  transform: translateY(0vh); 
}
.showForm .form{
  transform: translateY(0vh);
}
.enrollNow .form i{
  position: absolute;
  top: 5px ;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}
.enrollNow .form img{width: 40%;}
.enrollNow .form form{
  width: 60%;
  height: 100%;
  padding: 10px 0;
}
.enrollNow .form form input{
  border: none;
  border-bottom:1px solid black ;
  width: 50%;
}
.enrollNow .form form input:focus{
  outline: none;
  border-bottom: 1px solid #4692E2;
}
.enrollNow .form form label{
  font-size: 14px;
}
@media (max-width: 960px){
  .landing{
    flex-direction: column;
    height: auto;
    padding: 10vh 5% 5vh 5%;
  }
  .landing .about{
    width: 100%;
    order: 2;

  }
  .landing .about .aboutCourse{
    font-size: 18px;
  }
  .landing .about .report{
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:flex-end;
  }
  .landing .about .report div{
    /* width: 200px; */
    margin: 10px;
  }
  .landing .about .report{
    font-size: 12px;
  }
  .landing .courseImg{
    width: 100%;
    order: 1;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
  }
  main .process .cards .card{
    width:100%;
    margin: 10px 0;
  }
  main .aboutCourse {
    flex-direction: column;
  }
  main .aboutCourse .left{
    width: 100%;
  }
  main .aboutCourse .right{
    width: 100%;
  }
  .query{
    width: 100%;
  }
  .table{
    flex-direction: column;
  }
  .table table{
    width: 100%;
  }
  .table table td{
    font-size: 13px;
  }
  .table .courseFeatures{
    width: 100%;
  }
  .curriculum .sectionHolder{
    flex-direction: column;
  }
  .curriculum .sectionHolder .section{
    width: 100%; padding: 15px;
  }
  .curriculum .sectionHolder .aboutSection{
    padding: 0;
  }
  .curriculum .aboutSection span p{
    width: 100%;
  }
  .projects .cards .learnMore{
    top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .projects .cards .card .about p:nth-child(1){
    font-size: 12px;
  }
  .projects .cards .card .about p:nth-child(2){
    font-size: 15px;
  }
  .enrollNow .form{
    width: 80%;
    flex-direction: column;
    align-items: center;
    height:70%;
    padding: 20px 0;
    border:  5px solid #4692E2;
  }
  .enrollNow .form img{
    width: 50%;
  }
  .enrollNow .form form{
    width: 100%;
    padding: 0px 40px;
  }
  .enrollNow .form form input{
    width: 100%;
  }
  /* .curriculum .sectionHolder */
}