
<main>
    
    
    
    <!-- <img class="BG" src="assets/images/bg.png" alt=""> -->
    <div class="landing">
        <div class="about">
            <p>Get Your Education Today!</p>
            <p>BookMyShiksha its not just an institute, its hogward for upcoming magician in IT industries. So what are you waiting for hurry up!! and be a part of our family.
            Dont forget to fill out the application form as limited seats are available  
        We are one of those few institue which specialize in Diploma & Masters in Data Science, Machine Learning</p>
            <p>Explore Our Programs</p>
        </div>
        <img src="/assets/images/back.jpg" alt="">
        <!-- <p>Get your Education today!</p>
        <p>Book My Shiksha</p>
        <div class="search">
            <input type="text" name="" id="" placeholder="Search for Courses">
            <i class="fas fa-search"></i>
        </div>
        
        <div class="list">
            <p *ngFor= "let item of list"  >{{item}}</p>
        </div> -->
    </div>
    <div class="reports">
        <p class="button" >Download Company Brochure  <i class="fas fa-file-download"></i>  </p>
        <div class="holder" >
            <div class="report" *ngFor='let item of report' >
                <i [class]=item.icon></i>
                <div class="">
                    <p class="value" >{{item.value}}</p>
                    <p class="name" >{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="courses">
        <p id="heading1" class="heading" >All Courses</p>
        <div class="cards" [ngClass] = "expendCourses? 'expendCards': '' "  >
            <div [routerLink]="item.routerLink" class="card" *ngFor= 'let item of coursesCards'  >
                <div class="courseBackground">
                    <img class="courseImg" [src]=item.img alt="">
                </div>
                <p class="courseName" >{{item.name}}</p>
                
            </div>
        </div>
        <div class="buttonHolder">
            <p (click)=viewMoreCourses() class="button">{{buttonValue}}</p>
        </div>
    </div>
    
    <div id="heading2" class="services">
        <p class="heading" >Our Services</p>
        <div class="cards">
            <div class="card" *ngFor= 'let item of servicesCards' >
                <img [src]= "item.img" alt="">
                <h2>{{item.name}}</h2>
                <p>{{item.about}}</p>
            </div>
        </div>
    </div>
    <app-testimonials></app-testimonials>
    <div class="upcoming">
        <p class="heading">Upcoming Batches</p>
        <div class="cards">
            <div class="card" *ngFor= 'let item of upcomingCourses' >
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <p class="courseDate" >{{item.date}}</p>
                    <p class="courseMonth" >{{item.month}}</p>
                    <p class="courseMonth" >{{item.year}}</p>
                </div>
                <div class="about">
                    <p class="courseName" >{{item.name}}</p>
                    <p class="courseAbout" >{{item.about}}</p>
                </div>
                <div class="timing">
                    <p class="time" >9AM-9PM</p>
                    <p class="day" >Monday to Sunday</p>
                    <p class="enroll" >Enroll Now</p>
                </div>
                
            </div>
        </div>
    </div>
    <app-blogs></app-blogs>
</main>