

.BG{
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}



.landing{
  display: flex;
  width: 100%;
  padding: 10vh 5% 10vh  5%;
  height:100vh;
  align-items:center;

}
.landing img{
  width: 50%;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
  
}
.landing .about h1:nth-child(1){
  font-size: 45px;
  font-weight: 800;
  color: #05528a;
}
.landing .about p:nth-child(2){
  color: #747474;
  width: 70%;
  font-size: 18PX;
  line-height: 22px;
  /* margin: 10px 0 20px 0 ; */
}

.landing .about p:nth-child(3){
  background-color: #ff6b1b;
  margin-top: 30px;
  font-size: 20px;
  border-radius:5px;
  color: white;
  padding: 5px 7px;
  width: fit-content;
  box-shadow: 3px 3px 5px rgba(199, 63, 0, 0.57),-3px -3px 5px rgba(84, 26, 0, 0.213);
}
.landing .about p:nth-child(3):hover{
    cursor: pointer;
}




.reports {
  background-color: #05528a;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5% ;
}
.reports .button {
  background-color: #a7cbf1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: fit-content;
  padding: 1px 10px;
  transition: .4s;
  min-width: max-content;
}
.reports .button:hover{
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.425);
  cursor: pointer;
}
.reports .button i {
  padding: 10px;
  font-size: 25px;
}
.reports .holder {
 display: flex;
 width: 70%;
 justify-content: space-between;
 flex-wrap: wrap;
}
.reports .report {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.reports .report i {
  display: flex;
  color: white;
  font-size: 40px;
  padding: 0 20px 0 0 ;
  align-items: center;
}
.reports .report p {
  color: white;
}
.reports .report div {
  height: fit-content;
}
.reports .report div .value {
  font-size: 20px;
}
.refer{
  display: flex;
  justify-content: center;
  /* background-color: rgb(28,97,198); */
  padding: 2% 5%;
  margin-top: 3%;
}
.refer img{
  width: 100%;
}
.courseHeading{
  text-align: center;
  font-size: 30px;
  margin: 40px 0;
}
.courseHeading span{
  color: #1874d2;
}
.heading {
  margin-bottom: 0px;
  font-size: 30px;
  position: relative;
  width: fit-content;
  padding-bottom: 5px;
}
.heading::after {
  content: "";
  position: absolute;
  background-color: #1874d2;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 80%;
}

.courses{
  display: flex;
  flex-direction: row;
  padding:3% 5%;
}
.sideNav{
  width: 20%;
}
.sideNav .category{
  width:100%;
  margin-bottom: 10px;
  padding: 5% 3%;
  box-shadow: 2px 1px 5px rgba(156, 156, 156, 0.541);
  display: flex;
  justify-content: space-between;
  background-color: white;
  transition: .4s;
  border-radius: 5px;
}
.sideNav .activeCategory{
  background-color:#05528a;
  color: white;
}
.sideNav .category:hover{
  background-color: #1874d2;
  color: white;
  cursor: pointer;
}
.courses .cards{
  width: 80%;
  display: flex;
  padding: 0 3%;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.courses .card {
  width:25%;
  margin:0 4% 4% 4%;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  /* overflow: hidden; */
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.229);
  transition: .2s;
  position: relative;
}
.bedge{
  position: absolute;
  background: linear-gradient(270deg, rgb(255, 139, 77) 34%, #ff8340 100%);
  height: 7%;
  width:200px;
  border-radius: 5px 5px 5px 1px ;
  left:-20px;
  top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.525);
}
.bedge::after{
  border-radius: 3px;
  position: absolute;
  background-color: #e5570b;
  content: '';
  height: 130%;
  aspect-ratio: 1/1;
  top: 33%;
  left:6px;
  transform: rotate(45deg);
  z-index: -1;
}
.bedge p{
  font-size: 15px ;
  color:rgb(255, 255, 255);
}



.courses .card:hover{
  box-shadow: 2px 3px 10px rgba(128, 128, 128, 0.404);
}
.courseBackground {
  overflow: hidden;
  background: linear-gradient(27deg, rgba(5,82,138,0.2979166666666667) 25%, rgba(52,193,239,0.200717787114846) 75%);
  width: 100%;
  height:190px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #05528a;
  padding-top:10% ;
}
.courseImg {
  width: 50%;
  transition: 0.2s;
  padding: 10% 0;
}
.viewCoursesButton:hover {
  color: #1874d2;
  cursor: pointer;
}
.courses .cards .card .courseName {
  font-size: 17px;
  padding-left: 2%;
  font-weight: 500;
  width: 100%;
  /* text-align: center; */
  margin: 10px 0 10px 0;
  color: #000;
}
.courses .cards .card .details{
  display: flex;
  font-size: 12px;
  text-align: center;
  color: grey;
  padding: 5% 0;
}
.courses .cards .card .details div{
  position: relative;
  padding:0 2%;
  border-left:1px solid black 
}
.courses .cards .card .details div:nth-child(1){
  border: none;
}
.courses .startDate{
  padding: 2%;
  font-size: 13px;
  color: #5c5c5c;
  
}
.courses .cards .card .footer{
  display: flex;
  justify-content: space-between;
  padding:5% 2%;
}
.courses .cards .card .footer img{
  width: 50px;
}
.courses .cards .card .footer p{
  font-size: 10px;
}

.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 0 0;
}

.services .cards {
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding:0 5%;
}

.services .cards .card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
  margin:20px 0;
  border-radius: 5px;
  transition: .4s;
  padding:20px;
  border: 1px solid rgba(81, 185, 255, 0.137);
  box-shadow: 1px 1px 3px rgba(172, 172, 172, 0.13);
}

.services .cards .card:hover{
  border: 1px solid rgba(81, 185, 255, 0.437);
  box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.253);
}

.services .cards .card img {
  width: 20%;
  padding: 0 0 5px 0;
}
.services .cards .card h2 {
  font-weight: 300;
  font-size: 20px;
}
.services .cards .card p {
  color: gray;
  text-align: justify;
}

.edge , .learning_partners, .selfTest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.edge_cards{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  flex-wrap: wrap;
}
.edge_card{
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edge_card img{
  width: 20%;
}
.edge_card .name{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.edge_card .about{
  font-size: 13px;
  text-align: center;
}
.learning_partners .images{
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.images img{
  width: 7%;
}
.selfTest .subHeading{
  width: 70%;
  margin-top: 1%;
  color: #555555;
  text-align: center;
}
.test_info{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.about_test{
  width: 50%;
}
.test_cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.test_card{
  width: 27%;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test_card img{
  width: 30%;
}
.test_info .button{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.test_info .button button{
  padding:2%;
  border-radius: 10px;
  border: none;
  background-color: #ff6b1b;
  color: white;
  transition: .4s;
}
.test_info .button button:hover{
  cursor: pointer;
  box-shadow: 2px 3px 5px rgb(203, 203, 203);
}
.test_info .img{
  width: 40%;
}
.test_info .img img{
  width: 100%;
}




.upcoming {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.upcoming .cards {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 1% 5%;
}

.upcoming .cards .card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2% 0;
  /* border-bottom: 1PX SOLID rgb(167, 167, 167); */
}
.upcoming .cards .card .date {
  padding: 2% 5%;
  border: 2px solid #1874d2;
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100px;
  position: relative;
}
.upcoming .cards .card .date i{
  position: absolute;
  top: 2px;
  left: 2px;
  color: #05528a;
}
.courseDate {
  font-size: 20px;
  text-align: center;
}
.upcoming .cards .card .about {
  padding:0;
  display: flex;
  flex-direction: column;


}
.upcoming .cards .card .about .courseName {
  font-size: 20px;
  margin:10px 0;
}
.upcoming .cards .card .about .courseAbout {
  font-size: 15px;
  width: 60vw;
  color: gray;
  line-height: 30px;
}
.upcoming .cards .card .timing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.upcoming .cards .card .timing .enroll {
  background-color: #b0d8ff;
  padding: 10px 20px;
  transition: 0.4s;
}
.upcoming .cards .card .timing .enroll:hover {
  box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.418);
  cursor: pointer;
}



@media (max-width: 960px) {
  .heading{
    font-size: 25px;
  }
  .landing{
    flex-direction: column;
    justify-content:center;
    padding:15vh 5% 5vh 5%;
    height:auto;
  }
  .landing img{
    order: 0;
    width:80%;
  }
  .landing .about{
    width: 100%;
    padding:5% 0 ;
    order: 1;
  }
  .landing .about p:nth-child(1){
    font-size: 30px;
  }
  .landing .about p:nth-child(2){
    width: 100%;
    font-size: 15px;
    margin: 10px 0 5px 0;
  }

  
  .reports{
    justify-content: center;
    /* align-items: flex-start; */
    padding: 5% ;
  }
  .reports .holder {
    justify-content:center;
    /* padding-left: 50px; */
    width:100%;
  }
  .reports .holder .report{
    margin: 20px;
    /* width: fit-content;
    align-items:flex-start; */
  }
  .reports .report i{
    font-size: 20px;
  }
  .reports .report div .value{
    font-size: 15px;
  }
  .reports .report div .name{
    font-size: 10px;
  }
  .courses{flex-direction: column;align-items: center;}
  .sideNav{
    width: 100%;
  }
  .courses .card{
    width: 90%;
    margin: 0;
    margin: 10px 0px;
  }
  .bedge::after{
    left: 7px;
  }
  .courseBackground{
    width: 100%;
    aspect-ratio: 1/1;
  }
  .courses .cards{
    padding: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .courses .cards .card .courseName{
    font-size:1.3rem;
  }
  .courseImg{
    width: 40%;
  }
  .services .cards .card{
    width: 100%;
  }

  .upcoming .cards .card{
    display: flex;
    flex-direction: column; 
    margin: 30px 0;
    flex-wrap: nowrap;
    align-items:flex-start;
    padding: 0;
    /* justify-content: flex-start; */
  }
  .upcoming .cards .card .about .courseAbout{
    width: 100%;
    
  }
  .upcoming .cards .card .about{
    padding: 0;color: #6c2e6e7e;
  }


  .images img{
    width: 10%;
  }
  .edge_card{
    margin: 30px 0;
    width: 45%;
  }
  .about_test{
    width: 100%;
  }
  .about_test p{
    font-size: .7rem;
  }
  .test_info .img {
    display: none;
  }
  .selfTest .subHeading{
    width: 100%;
    font-size: .9rem;
  }
 

  
}
