main{height: 100vh;display: flex;flex-direction: column;justify-content: center;}
main div{display: flex;flex-direction: column;}
main div img{width:3vw;margin: 8px 0;transition: .4s;}
main div img:hover{transform: scale(114%);cursor: pointer; }
