main{height: 100vh; transition: .4s;width: fit-content;display: flex;flex-direction: column;justify-content: center;}
main div{margin-top: 1px; border-radius: 5px; display: flex;align-items: center; justify-content: center; padding: 10px 15px;align-items: center;transition: .4s;background-color: #ffffff;box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.26); width: 40px;}
i{color: #4692e2;padding: 3px;font-size: 20px;}
p{color: rgb(43, 43, 43);transition: .4s;display: none;padding: 0;}
main div:hover p{display: block;padding: 0 5px;color: white;}
main div:hover i{color: white;}
main div:hover{border-radius: 5px;cursor: pointer;background-color: #4692e2;width: auto;}
main:hover{border-radius: 5px;}

@media (max-width: 960px){
    main{
        height: auto;
    }
    main div{
        padding:7px 2px;
        width: 23px;
    }
    i,p{
        font-size: 20px;
        padding: 0;
    }
}

