<nav>
    <main>
        <i class="fas fa-book-reader"></i>
        <div class="navigation">
            <p [routerLink]="['']" >Home</p>
            <div>
                <p class="allCourses" [routerLink]="['courses']" >All Courses</p>
                <div class="hidden A">
                        <div class="python">
                            <h1>Popular Courses</h1>
                            <div class="sub">
                                <p>Python training</p>
                                <p>Data Science training</p>
                                <p>Machine Learning training</p>
                                <p>Deep Learning training</p>
                                <p>Artificial Inteligence training</p>
                                <p>RPA(Robotic Process Automation) training</p>
                            </div>
                        </div>
                        <div class="webDev">
                            <h1>Web Development</h1>
                            <div class="sub">
                                <p>PHP</p>
                                <p>HTML5/CSS3/JavaScript</p>
                                <p>Angular</p>
                                <p>Node</p>
                                <p>React</p>
                                <p>Python Django/Flask</p>
                            </div>
                        </div>
                        <div class="database">
                            <h1>Database</h1>
                            <div class="sub">
                                <p>MongoDB</p>
                                <p>SQL</p>
                                <p>Oracle</p>
                            </div>
                        </div>
                        <div class="digitelMarketing">
                            <h1>Digital Marketing</h1>
                            <div class="sub">
                            <p>SMO(Social media optimization)</p>
                            <p>PPC(Pay-per-click)</p>
                            <p>SEO(Search engine optimization)</p>
                            <p>Google Ads</p>
                            <p>Facebook Ads</p>
                            <p>Social Media Promotion</p>
                            <p>E-mail Marketing</p>
                            </div>
                        </div>
                        <div class="special">
                            <h1>Specialization Courses</h1>
                            <div class="sub">
                            <p>Diploma in Data Science</p>
                            <p>Diploma in Machine Learning</p>
                            <p>Masters in Data Science</p>
                            <p>Masters in Machine Learning</p>
                            </div>
                        </div>
                </div>
            </div>
            
            <p>Certification</p>
            <div>
                <p class="training" >Training Programs</p>
                <div class="hiddenB">
                    <p>Corporate Training</p>
                    <p>Industrial Training</p>
                    <p>Online/Classroom Training</p>
                </div>
            </div>
            <p>Placements</p>
            <div>
                <p class="company" >Company</p>
                <div class="hiddenC">
                    <p>About Us</p>
                    <p>Our Team</p>
                    <p>Contact Us</p>
                    <p>Blogs</p>
                </div>
            </div>
            
        </div>
        
    </main>
</nav>