nav {
    z-index: 1;
    margin-top: 5vh;
    width: 100%;
    padding: 0 3%;
    position: fixed;
    transition: .4s;
}
.menu{display: none;}
main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.541);
    backdrop-filter: blur(10px);
    /* border-bottom: 0.1px solid white; */
    /* border-left: 0.1px solid white; */
    /* border-radius: 5px; */
}
main:hover{
    background-color: rgb(255, 255, 255);
}

main i {
    padding: 1% 2%;
    width:10%;
    font-size:50px;
    /* text-align: center; */
}

.navigation{
    padding: 0;
    
    display: flex;
    align-items: center;
    justify-content:center;
}
.navigation .link{margin:0 2vw ;}
.navigation p{
    font-weight: 300;
    font-size: 15px;
    color: rgb(0, 0, 0);
    transition: .4s;
}

.navigation p:hover{
    cursor: pointer;
    color: #FFB606;
    /* font-size: 22px; */
    transform: scale(102%);
}
.phoneNo{
    padding: 21px 60px ;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #FFB606;
}
.phoneNo i{font-size: 30px;color: honeydew;}
.phoneNo i:hover{cursor: text call us now;}
.phoneNo p{font-size: 25px; color: honeydew;}

.sticky{padding: 0;margin-top: 0; z-index: 50; background-color:rgba(255, 255, 255, 0.548);box-shadow: 0 3px 8px rgba(157, 157,157,0.2);}

/* .allCourses{position: relative;} */
.allCourses:hover .hidden{display: flex;}
.training:hover   .hidden{display: flex;}
.company:hover  .hidden{display: flex;}
.company .hidden, .training .hidden{display: none;flex-direction: column;position: absolute;padding: 30px 0 0 0;}
.training .hidden p,.company .hidden p{margin: 1px;background-color: white;padding: 10px 5px;}

.allCourses .hidden{padding: 20px 0 0 0; display:none;left: 0; justify-content:space-around; position: absolute;width:100%;background-color: rgb(255, 255, 255);}
.allCourses .hidden .category{padding: 10px 0;margin: 0 1px;}
.allCourses .hidden div .heading{background-color: #f7ecd6;padding: 7px 5px;font-size: 13px;font-weight: 500;}
.allCourses .hidden div .sub{margin: 1px 0 0 0;}
.allCourses .hidden div .sub p{margin: 1px 0 0 0;background-color: rgb(255, 255, 255);padding: 7px 5px;font-size: 12px;}

@media (max-width: 1030px){
   .navigation{display: none;}
   .menu{display: block;padding: 0 30px;}
}