
nav {
    z-index: 2;
    margin-top: 0;
    width: 100%;
    padding: 0 5%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    /* box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.342); */
    transition: .4s;
    /* overflow: hidden; */
}
.menu{display: none;}
main {
    width: 100%;
    /* height: 80px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* background-color: rgba(255, 255, 255, 0.541); */
    /* backdrop-filter: blur(10px); */
    /* border-bottom: 0.1px solid white; */
    /* border-left: 0.1px solid white; */
    /* border-radius: 5px; */
}
main .logo{
   width: 130px;
   padding: 5px 0 0 0;
   z-index: 1;
}
main .logo img{
    width: 100%;
    cursor: pointer;
}


.navigation{
    padding: 0;
    
    display: flex;
    align-items:flex-end;
    justify-content:center;
}
.navigation .link{margin:0 2vw ;}
.navigation .link{
    font-weight: 300;
    font-size: 15px;
    color: rgb(0, 0, 0);
    transition: .4s;
}

.navigation .link p:hover{
    cursor: pointer;
    color: #1874d2;
}




.sticky{box-shadow: 0 5px 8px rgba(157, 157, 157, 0.199);z-index: 40;background-color: white;}
.allCourses:hover .hidden{display: flex;}
.training:hover   .hidden{display: flex;}
.company:hover  .hidden{display: flex;}
.company .hidden, .training .hidden{display:none;background-color: white;flex-direction: column;position: absolute;padding: 10px 0 0 0;}
.training .hidden p,.company .hidden p{padding:5px 5px;color: black;margin: 5px 0;}

.allCourses .hidden{padding: 20px 0 0 0; display:none;left: 0; justify-content:space-around; position: absolute;width:100%;background-color: rgb(255, 255, 255);}
.allCourses .hidden .category{padding: 10px 0;margin: 0 1px;}
.allCourses .hidden div .heading{color: black; background-color: #b0d8ff;padding: 7px 5px;font-size: 13px;font-weight: 500;}
.allCourses .hidden div .sub{margin: 1px 0 0 0;}
.allCourses .hidden div .sub p{margin: 1px 0 0 0;color: black; background-color: rgb(255, 255, 255);padding: 7px 5px;font-size: 14px;}
.allCourses .hidden div .sub p:hover{cursor: pointer;color: #1874d2;}
.menu .options{
    position:absolute;background-color: white;padding: 20px 0;left: 0;width: 100%;
    display: flex;flex-direction: column;align-items: center;transition: .4s;z-index: -1;height: 100vh;
}

 .options p{
    padding: 10px 0;
}
.course .menuButton{
    background-color: #1874d2;
    color: white;
    padding: 5px 5px 10px 5px ;
    border-radius: 5px;
}
.course .menuButton i{
    font-size: 25px;
}
.course .hiddenCourse{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    right: 0;
    display:flex;
    flex-direction: column;
    padding: 5%;
    /* justify-content: center; */
    /* align-items: center; */

    /* flex-wrap: wrap; */
}
.hiddenCourse .courseOption{
    width: max-content;
    width:100%;
    overflow: auto;
    padding: 10px 0;
}

.hiddenCourse .courseOption::-webkit-scrollbar{
    display: none;
}
.hiddenCourse .courseOption .holder {
    display: flex;
    width: max-content;
}
.hiddenCourse .courseOption P{
    padding:5px;
    width:max-content;
    margin-right:10px;
    border: 1px solid rgba(167, 167, 167, 0.199);
    border-radius: 50px;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.212);
}
.active{
    color: white;
    background-color:#2e97ff ;
}
.courseList{
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    height: 70vh;
    overflow-y: auto;
}
.courseList p{
    padding: 5px 0;
    color: rgb(77, 77, 77);
}
.courseList p:hover{
    color: #2e97ff;
}
app-links{
    position: absolute;
    top: 10vh;
    left: 0;
}
app-social{
    top: 10vh;
    right: 0;
    position: absolute;
}
@media (max-width: 1030px){
   .navigation{display: none;}
   .menu{display: block;padding: 0;}
}