<nav>
    <main>
        <div  class="menu">
            <i [ngClass]="toggle=='menu'? 'rotate1': '' " (click)="show('menu')" class="fas fa-bars"></i>
           <div  class="optionHolder" [ngClass]="toggle=='menu'? 'show': '' " (click)="show('none')">
            <div   class="options" >
                <div class="img">
                    <img  [routerLink]="['']" src="assets/images/logo.png" alt="">
                </div>
                <p [routerLink]="['certification']" > <i class="fas fa-file-certificate"></i> Certification</p>
                <p [routerLink]="['training']" > <i class="fas fa-chalkboard"></i> Training Programs</p>
                <p [routerLink]="['blogs']" > <i class="fas fa-blog"></i> Blogs</p>
                <p [routerLink]="['aboutUs']" > <i class="fas fa-address-card"></i> About Us</p>
                <p [routerLink]="['contact']" > <i class="far fa-address-book"></i> Contact Us</p>
                <p [routerLink]="['placement']" ><i class="fas fa-road"></i> Placements</p>
                <div class="links">
                    <p><i class="far fa-credit-card"></i> Fee Deposit</p>
                    <p><i class="fas fa-sign-in-alt"></i> Apply Jobs</p>
                </div>
                <div class="scholarship">
                    <p (click)="togglePopup(1)" >Scholarship Registration</p>
                </div>
                <div class="socialMedia">
                    <img *ngFor="let item of socialMedia" [src]=item.img alt="">
                </div>
            </div>
           </div>
        </div>
        <div class="logo">
            <img (click)="toggleDropdown(0)"  (click)="show('none')" [routerLink]="['']" src="assets/images/logo.png" alt="">
        </div>
        <div class="scholarship wide">
            <p (click)="togglePopup(1)" >Scholarship Registration</p>
        </div>
        <div class="navigation">
            
            <div  class="allCourses linkHead"  >
                <div class="allCoursesButton" (click)="toggleDropdown(1)">
                    <p   >All Courses</p><i [ngClass]="showDropdown==1? 'rotate': '' " class="fas fa-sort-down"></i>
                </div>
                <div [ngClass]="showDropdown == 1? 'showDropdown': '' " class="hidden" (click)="toggleDropdown(1)">
                        <div class="python category">
                            <p class="heading" >Popular Courses</p>
                            <div class="sub">
                                <p  [routerLink]="['courses/python-training-course-in-delhincr']" >Python training</p>
                                <p  [routerLink]="['courses/data-science-training-course-in-delhincr']" >Data Science training</p>
                                <p [routerLink]="['courses/machine-learning-training-course-in-delhincr']" >Machine Learning training</p>
                                <p [routerLink]="['courses/deep-learning-training-course-in-delhincr']" >Deep Learning training</p>
                                <p [routerLink]="['courses/artificial-inteligence-training-course-in-delhincr']" >Artificial Inteligence training</p>
                                <p [routerLink]="['courses/rpa-course-in-delhincr']" >RPA training</p>
                                <p [routerLink]="['courses/java-course-in-delhincr']" >Java training</p>
                                <p [routerLink]="['courses/.net-course-in-delhincr']">.Net training</p>
                                <p [routerLink]="['courses/vba-course-in-delhincr']" >VBA training</p>
                            </div>
                        </div>
                        <div class="webDev category">
                            <p class="heading" >Web Development</p>
                            <div class="sub">
                                <p [routerLink]="['courses/php-course-in-delhincr']" >PHP</p>
                                <p [routerLink]="['courses/html5-css3-js-course-in-delhincr']" >HTML5/CSS3/JS</p>
                                <p [routerLink]="['courses/angular-course-in-delhincr']" >Angular</p>
                                <p [routerLink]="['courses/nodejs-course-in-delhincr']" >Node</p>
                                <p [routerLink]="['courses/react-course-in-delhincr']" >React</p>
                                <p [routerLink]="['courses/pyhton-django-course-in-delhincr']" >Python Django/Flask</p>
                            </div>
                        </div>
                        <div class="database category">
                            <p class="heading" >Database & Analytics Tools</p>
                            <div class="sub">
                                <p [routerLink]="['courses/mongodb-course-in-delhincr']" >MongoDB</p>
                                <p [routerLink]="['courses/sql-course-in-delhincr']" >SQL</p>
                                <p [routerLink]="['courses/oracle-course-in-delhincr']" >Oracle</p>
                                <p [routerLink]="['courses/powerBi-course-in-delhincr']" >Power Bi</p>
                                <p [routerLink]="['courses/tableau-course-in-delhincr']" >Tableau</p>
                            </div>
                        </div>
                        <div class="digitelMarketing category">
                            <p class="heading" >Digital Marketing</p>
                            <div class="sub">
                            <p [routerLink]="['courses/social-media-optimization-course-in-delhincr']" >SMO(Social media optimization)</p>
                            <p [routerLink]="['courses/pay-per-click-course-in-delhincr']" >PPC(Pay-per-click)</p>
                            <p [routerLink]="['courses/google-ads-certification-course-in-delhincr']" >Google Ads</p>
                            <p [routerLink]="['courses/seo-course-in-delhincr']" >SEO(Search engine optimization)</p>
                            <p [routerLink]="['courses/facebook_ads_certification-course-in-delhincr']" >Facebook Ads</p>
                            <p [routerLink]="['courses/social-media-promotion-course-in-delhincr']" >Social Media Promotion</p>
                            <p [routerLink]="['courses/email-marketing-course-in-delhincr']" >E-mail Marketing</p>
                            </div>
                        </div>
                        <div class="special category">
                            <p class="heading" >Specialization Courses</p>
                            <div class="sub">
                            <p [routerLink]="['courses/diploma-in-data-science-course-in-delhincr']" >Diploma in Data Science</p>
                            <p [routerLink]="['courses/diploma-in-machine-learning-course-in-delhincr']" >Diploma in Machine Learning</p>
                            <p [routerLink]="['courses/masters-in-data-science-course-in-delhincr']" >Masters in Data Science</p>
                            <p [routerLink]="['courses/masters-in-machine-learning-course-in-delhincr']" >Masters in Machine Learning</p>
                            </div>
                        </div>
                </div>
            </div>
            
            <p (click)="toggleDropdown(0)"  [routerLink]="['certification']" class="linkHead link" >Certification</p>
            <div (click)="toggleDropdown(2)"  class="training linkHead"  >
                <p >Training Programs <i [ngClass]="showDropdown==2? 'rotate': '' " class="fas fa-sort-down"></i></p>
                <div class="hidden link" [ngClass]="showDropdown == 2? 'showDropdown': '' " >
                    <p [routerLink]="['training']" >Corporate Training</p>
                    <p [routerLink]="['training']" >Industrial Training</p>
                    <p [routerLink]="['training']" >Online/Classroom Training</p>
                </div>   
            </div>
            <div (click)="toggleDropdown(3)"  class="company linkHead" >
                <p>Company <i [ngClass]="showDropdown==3? 'rotate': '' " class="fas fa-sort-down"></i></p>
                <div [ngClass]="showDropdown == 3? 'showDropdown': '' " class="hidden link">
                    <p [routerLink]="['aboutUs']" >About Us</p>
                    <p [routerLink]="['contact']" >Contact Us</p>
                    <p [routerLink]="['blogs']" >Blogs</p>
                </div>
            </div>
            <p (click)="toggleDropdown(0)" [routerLink]="['placement']" class="link linkHead" >Placements</p>
            
        </div>
        <div class="course menu">
            <p (click)="show('course')"  class="menuButton" >All Courses <i [ngClass]="toggle=='course'? 'rotate': '' " class="fas fa-sort-down"></i></p>
            <div [ngClass]="toggle=='course'? 'show': '' "   class="hiddenCourse">
               
                <div class="courseOption">
                    <div class="holder">
                        <p *ngFor="let item of courseList; let i as index " (click)=activeOption(i) [ngClass]="activeSection==courseList.indexOf(i)? 'active': '' " id="active" >{{item.title}}</p>
                    </div>
                </div>
                <div class="courseList">
                    <p (click)="show('none')"  *ngFor="let item of activeList" [routerLink]="item.routerLink" >{{item.name}}</p>
                </div>
            </div>
        </div>
        
    </main>

    <div [ngClass]="popUp == 1? 'show': '' " class="popUp popup1">
        <div class="holder">
            <i (click)="togglePopup(0)" class="far fa-times-circle"></i>
            <div class="img">
                <img src="assets/images/popup2.png" alt="">
            </div>
            <div class="form">
                <form action="">
                    <span>
                        <label for="">Name</label>
                        <input type="text" placeholder="Enter your name" >
                    </span>
                    <span>
                        <label for="">Email</label>
                        <input type="text" placeholder="Enter your Email" >
                    </span>
                    <span>
                        <label for="">Mobile-No</label>
                        <input type="text" placeholder="Enter your mobileNo" >
                    </span>
                    <span>
                        <label for="">College</label>
                        <input type="text" placeholder="Enter your College Name" >
                    </span>
                    <span>
                        <label for="">Courses</label>
                        <input type="text" placeholder="Enter your Course Name" >
                    </span>
                    <span>
                        <label for="">Message</label>
                        <input type="text">
                    </span>
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div [ngClass]="popUp == 2? 'show': '' " class=" popUp2 popUp">
        <div class="holder">
            <i (click)="togglePopup(0)" class="far fa-times-circle"></i>
            <div class="img">
                <img src="assets/images/discount.svg" alt="">
            </div>
            <div class="form">
                <form action="">
                    <span>
                        <label for="">Name</label>
                        <input type="text" placeholder="Enter your name" >
                    </span>
                    <span>
                        <label for="">Email</label>
                        <input type="text" placeholder="Enter your Email" >
                    </span>
                    <span>
                        <label for="">Mobile-No</label>
                        <input type="text" placeholder="Enter your mobileNo" >
                    </span>
                    <span>
                        <label for="">Courses</label>
                        <input type="text" placeholder="Enter your Course Name" >
                    </span>
                    <span>
                        <label for="">Message</label>
                        <input type="text">
                    </span>
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div (click)="togglePopup('none')"  [ngClass]="popUp== 3? 'showGreet': '' " style=" backdrop-filter: blur(4px); background-color: #d0b09562; position:fixed; width: 100%; height: 100vh; display: flex; align-items: center;justify-content: center; top: 0;left: 0;" class="greetHolder">
        <div style="width:40%; position: relative; "  class="greets">
            <img style="z-index: -1; transform: rotate(90deg); position: absolute; right:0;top: 0;" src="/assets/images/rope.png" alt="">
            <img style="z-index: -1; transform: rotate(90deg); position: absolute;top: 0;left:0; " src="/assets/images/rope.png" alt="">
            <img style="width: 100%;z-index: 2;border-radius: 10px; border: 10px solid #D0B095 ; " src="/assets/images/greeting.png" alt="">
        </div>
    </div>

</nav>