app-contact {
    position: fixed;
    bottom: 0;
    z-index: 20;
  }
  app-links {
    position: fixed;
    top: 40vh;
    z-index: 10;
  }
  app-social {
    z-index: 1;
    right: 0;
    position: fixed;
    right: 0;
  }
  button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4692E2;
    border-radius: 30px;
    border:none;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 3;
  }