
<main>
    <div class="landing">
        <p>Evolution of BookMyShiksha</p>
        <p>Book My Shiksha was founded with the intention to appear as the pioneer of classroom/online training for an array of courses in information technology and artificial intelligence such as Python, Data Learning, Angular, React, Machine Learning amongst others. We are inclined to be present in every corner of the world by nurturing learners from across the globe. We believe that there is an immense need to build a platform with the best environment for information technology.</p>
    </div>
    <div class="mission">
        <div class="cards">
            <div class="card">
                <p>Our Mission</p>
                <p>At Book My Shiksha, we strive to provide information in a recorded format of instruction, learning, and the appraisal of these results to improve the quality of life. We mean to enhance the lives of every learner that comes to us, and leave our platform as a better version of themselves.</p>
            </div>
            <div class="card">
                <p>Our Vision</p>
                <p>We are here to offer a global platform for learners to absorb information that is broadly perceived through the means of recorded sessions. We are here to connect people through the world of knowledge and encourage learning in an unconventional manner which is the new conventional form. We offer support to our learners by guiding them through the commencement to the assessment of their performance in a respective course until they get placed in top notch organizations that are our partners.</p>
            </div>
        </div>
    </div>
    <div class="partners">
        <p class="heading" >Our Hiring Partners</p>
        <div class="logos">
            <div *ngFor="let item of partners" class="logo">
                <img [src] = "item" alt="">
            </div>
        </div>
        
    </div>
    <div class="college">
        <p class="heading">Our College Tieups</p>
        <div class="logos">
            <div *ngFor="let item of colleges" class="logo">
                <img [src] = "item" alt="">
            </div>
        </div>
    </div>
    <app-blogs></app-blogs>

</main>