span{width: 100vw;display: flex;justify-content: center;}
main{display: flex;background-color: #ffb406;transition: .4s;width: fit-content;}
main div{display: flex;padding: 5px 10px;align-items: center;transition: .4s;}
i,p{color: rgb(43, 43, 43);margin: 3px;}
div:hover{border: 1px solid gray;border-radius: 5px;cursor: pointer;background-color: white;}
main:hover{transform: scale(101%);border-radius: 5px;}
