<span>
    
    <main>
        <div [routerLink]="['/contact']" class="demo">
            <i class="fas fa-video"></i>
            <p>Ask a Demo</p>
        </div>
        <div [routerLink]="['/contact']" class="callBack">
            <i class="fas fa-headset"></i>
            <p>Request a Call Back</p>
        </div>
        <div [routerLink]="['/contact']" class="callUs">
            <i class="fas fa-phone-volume"></i>
            <p>Call Us Now</p>
        </div>
        <div [routerLink]="['/contact']" class="apply">
            <i class="fas fa-user-plus"></i>
            <p>apply as a Trainer</p>
        </div>
        <div class="whatsapp">
            <i class="fab fa-whatsapp"></i>
            <p>+91-8077672234</p>
        </div>
    </main>
    
    
</span>