span{width: 100vw;display: flex;justify-content: center;}
main{display: flex;transition: .4s;width: fit-content;}
main div{border-radius: 5px; background-color: #ffffff;margin-left: 1px; display: flex;padding: 5px 10px;align-items: center;transition: .4s;box-shadow: -2px -2px 4px rgba(128, 128, 128, 0.26);}
i,p{color: #4692e2;margin: 3px;}
main div:hover{cursor: pointer;background-color: #4692e2;}
div:hover i,div:hover p{color: white;}

@media (max-width: 960px){
    main div:nth-child(2){
        display: none;
    }
    main div:nth-child(4){
        display: none;
    }
    main div{
        flex-direction: column;
        padding:2px 4px;
    }
    i,p{
        font-size: 15px;
        margin: 0;
    }
}

