main{min-height: 130vh;}
.BG{width: 100%;
    min-height:75vh ;
    filter: brightness(30%);
    position: absolute;
    z-index: -1;
}
.landing{
    display: flex;align-items: center;justify-content: center;min-height: 75vh;padding: 290px 0 0 0;
}
.landing h1{
    background-color: #FFB606;color: white;font-size: 40px;padding: 20px 50px;
}
.courses{
    display: flex;align-items: center;flex-direction: column;padding: 50px;
}
.heading{
    margin-bottom: 30px;
    font-size: 6vh;
    position: relative;
    
}
.heading::after{
    content: '';position: absolute;
    background-color: #FFB606;
    top:-20%;left:10%;
    height: .3vw; width: 80%;
}

.courses .cards{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.courses .card{
    width: 300px;
    margin: 60px 20px 0 20px;
    background-color: rgb(248, 248, 248);
}
.courseImg{
    width: 100%;
}

.courses .cards .card h1{
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    margin: 30px 0 10px 0;
}

.courses .cards .card p{
    font-size: 15px;
    font-weight: 100;
    color: rgb(148, 148, 148);
    width: 100%;
    text-align: center;
    margin: 0 0 40px 0;
}
