<main>
    <div class="left">
        <p>FOR QUERIES, FEEDBACK OR ASSISTANCE</p>
        <p>Contact Bookmyshiksha Learner Support</p>
        <p>Best of supportwith us</p>
    </div>
    <div class="right">
        <p>For Voice Call</p>
        <div>
            <i class="fas fa-phone-alt" ></i>
            <p>+91-8077672234</p>
        </div>
        <section></section>
        <p>For whatsapp Call & Chat</p>
        <div>
            <i class="fab fa-whatsapp"></i>
            <p>+91-8077672234</p>
        </div>
    </div>
</main>
