<main>
    <i class="fas fa-graduation-cap icon"></i>
    <i class="fas fa-code icon"></i>
    <i class="fas fa-chalkboard-teacher icon"></i>



    <div class="left">
        <p>FOR QUERIES, FEEDBACK OR ASSISTANCE</p>
        <p>Contact Bookmyshiksha Learner Support</p>
        <p>Best of supportwith us</p>
    </div>
    <div class="right">
        <p>For Voice Call</p>
        <a href="tel:+918077672234" >
            <i class="fas fa-phone-alt " ></i>
            <p>+91-8077672234</p>
        </a>
        <section></section>
        <p>For whatsapp Call & Chat</p>
        <a target="/" href="//api.whatsapp.com/send?phone=+918077672234&text=Hi! I want to join Batches on BookMyShiksha" >
            <i class="fab fa-whatsapp"></i>
            <p>+91-8077672234</p>
        </a>
    </div>
</main>
