<div class="testimonial">
    <p class="heading">What our students say</p>
    <div  class="cards" [ngClass] = "expendReviews? 'viewMore':'' "  >
        <div id="card"></div>
        <i (click)="readMore(0)" (click)=viewMore(false) class="far fa-times-circle"></i>
        <div   class="card" *ngFor= 'let item of reviewCards; let i as index' >
            <img [src]="item.img" alt="images">
            <div class="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>{{item.name}}</p>
            <p [ngClass]="selectedMessage == item.id? 'readMore': '' " class="message" >{{item.message}}</p>
            <p *ngIf="selectedMessage!=item.id"  (click)="readMore(item.id)"  >Read More</p>
            
        </div>

    </div>
    <p  id="view" (click)=viewMore(true) >View More</p>
</div>
