<main>
    <div class="landing">
        <div class="sections">
            <p class="heading" >Corporate Training</p>
            <p class="subHeading">Reasons why we stand out:</p>
            <div *ngFor="let item of points" class="points">
                <b>></b>
                <p class="point"> {{item.point}}</p>
            </div>
        </div>
        <div class="sections">
            <p class="heading">Industrial training</p>
            <p class="subHeading">Book My Shiksha trainers are:</p>
            <div *ngFor="let item of points" class="points">
                <b>></b>
                <p class="point"> {{item.point}}</p>
            </div>
            
        </div>
        <div class="sections">
            <p class="heading">Classroom/Online Training</p>
            <p class="subHeading">Book My Shiksha Placement Process:</p>
            <div *ngFor="let item of points" class="points">
                <b>></b>
                <p class="point"> {{item.point}}</p>
            </div>
            
        </div>
    </div>
</main>