<main>
    <div class="landing">
        <div class="sections" *ngFor="let item of data" >
            <p class="heading" >{{item.name}}</p>
            <p class="about" *ngFor="let item of item.about" >{{item}} </p>
            <p class="subHeading">{{item.subHeading}}</p>
            <div class="points">
                <p *ngFor="let point of item.points" class="point"><i class="fas fa-caret-right"></i> {{point}}</p>
                        
            </div>
        </div>
    </div>
</main>