<main>
    <p class="heading">Our Placements</p>
    <p class="about">BookMySiksha provides 100% placement assistance with soft and technical skills guidance. In the past 1 years, we have trained over 50+ students and placed over 25 students in various reputed companies.</p>
    <p class="about">We maintain a thin line between practical exposure and theoretical approach as we know a perfect balance is what we need for our students to succeed ahead in the IT field.  We provide placement assistance to students for 1 year after the completion of the course. Students can contact their mentor and our team to clarify their doubt and placement support further ahead we have a lot of our aluminizes placed in various reputed companies to provide ease of access plus guidance to enter the industry. We carry a series of preparation tests and discussions before our students go for interviews we have various mock tests as well as interview practice round with our industrial expert to make our students understand how the actual interview takes place and what is the requirement that one needs in order to get selected and clear the rounds.</p>
    <p class="about">Mock test prepares our students mentally and help them to brace themselves to know what is the threshold for clearing the examination in written or oral. We have seen great results from those students who were once afraid to sit in interview, they now have what it takes to impress and get the job in hand all these things are possible because of their practice and mock test provided to them by BookMySiksha.</p>
    <p class="heading">Placement Process</p>
    <div class="img">
        <img src="assets/images/placement.svg" alt="images">
    </div>
    <p id="heading" class="heading">Students Placed</p>
    <div [ngClass]="buttonValue=='View Less'? 'expend': '' " class="cards" id="cardHolder">
        <div *ngFor="let item of cards" class="card">
            <img [src]= item.img alt="images">
            <p>{{item.name}}</p>
            <p>{{item.company}}</p>
            <p>{{item.profile}}</p>
        </div>
    </div>
    <div id="buttonHolder" >
        <p (click)="viewMore()" class="button"  >{{buttonValue}}</p>
    </div>
    
</main>
