main{
    padding:10vh 5%;
}

.heading {
    font-size: 25px;
    margin: 20px 0;
    position: relative;
    width: fit-content;
  }
  .heading::after {
    content: "";
    background-color: #1874d2;
    height: 2px;
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
  }
.subHeading{
    font-size: 20px;
    color: rgb(31, 31, 31);
  }
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  
}
.img img{
  width: 60%;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
}
.expend{
  height: auto;
}
main #buttonHolder{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.button{
  background-color: #1874d2;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
}
.button:hover{
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(173, 173, 173, 0.774);
}
.card{
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(165, 165, 165, 0.308);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
.card img{
  width: 100%;
  border: 10px solid #4692E2;
  border-radius: 100%;
}
.card p:nth-child(2){
  font-size: 20px;
  padding:15px 0;
}
.card p:nth-child(3){
  color: #1874d2;
}
.card p:nth-child(4){
  font-size: 15px;
  color: #4D4DFF;
}
@media (max-width: 960px){
  .img img{
    width: 100%;
  }
  .cards{
    height: 37vh;
  }
  .expend{
    height: auto;
  }
}