<main>
    <p class="heading">Our Placements</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minima temporibus doloremque quibusdam explicabo, similique nemo ea, excepturi voluptas et labore odio placeat inventore sunt aspernatur quaerat quae, dolorum alias.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minima temporibus doloremque quibusdam explicabo, similique nemo ea, excepturi voluptas et labore odio placeat inventore sunt aspernatur quaerat quae, dolorum alias.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minima temporibus doloremque quibusdam explicabo, similique nemo ea, excepturi voluptas et labore odio placeat inventore sunt aspernatur quaerat quae, dolorum alias.</p>
    <p class="heading">Placement Process</p>
    <div class="img"></div>
    <p class="heading">Students Placed</p>
    
</main>
